version: '3.3'

services:
  db:
      image: postgres:16
      restart: always
      command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: postgres
      ports:
        - 5432:5432