name: udd-update-dependencies

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
      - name: Update dependencies of deno
        run: |
          deno run -A https://deno.land/x/udd/main.ts packages/**/src/*.ts packages/**/__tests__/*.ts packages/**/examples/*.ts libs/**/src/*.ts packages/**/*.md
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        id: pr
        with:
          commit-message: "chore: update deno dependencies"
          title: "chore: update deno dependencies"
          body: >
            Dependencies updated by [udd](https://github.com/hayd/deno-udd).
          branch: deno-dependency-updates
          author: GitHub <noreply@github.com>
          delete-branch: true
      - name: Retrieve commit sha
        id: commit
        run: |
          echo "::set-output name=sha::$(git rev-parse HEAD)"
